#  Created a class for reading and working with energy market data
This task will be about data analysis of energy data from [smard.de](smard.de). The folder contains the energy data from two weeks in July 24. 

The aim of this task is to create a package in our custom module, that contains a class `SmardData`, that contrains methods to import and prepare the data from the csv-files.

In [2]:
import sys
import os
file='applied_programming_WS24-25-25'
ROOT_DIR = os.path.abspath(os.path.join(os.path.dirname(file), '..', '..'))
sys.path.append(ROOT_DIR)

In [3]:
import importlib
import applied_programming.khodke_s.smard as smard
_=importlib.reload(smard)

Generationdata = '../../3_Data/Realisierte_Erzeugung.csv'
data = smard.SmartData()
data.import_data(Generationdata)
data.data

Importing AP

,Biomasse,Wasserkraft,Wind_Offshore,Wind_Onshore,Photovoltaik,Sonstige_Erneuerbare,Braunkohle,Steinkohle,Erdgas,Pumpspeicher,Sonstige_Konventionelle
Date,,,,,,,,,,,
2024-07-01 00:00:00,3708.25,2610.75,1358.75,4539.00,2.00,103.50,9123.25,1287.25,3468.25,569.75,1028.75
2024-07-01 01:00:00,3637.50,2500.50,1500.75,4434.00,2.00,104.00,9088.75,1253.50,3485.50,222.50,1030.00
2024-07-01 02:00:00,3619.50,2239.25,1399.00,4272.00,2.00,104.00,9228.50,1155.25,3242.25,74.50,1031.75
2024-07-01 03:00:00,3610.25,2266.75,1175.25,3993.25,2.00,104.00,9509.00,1162.75,3629.75,81.25,1032.75
2024-07-01 04:00:00,3639.50,2278.25,1140.75,4146.00,4.75,104.00,9888.25,1382.25,3754.00,255.25,1030.75
...,...,...,...,...,...,...,...,...,...,...,...
2024-07-14 19:00:00,3942.25,2512.00,5624.75,6803.75,5259.25,102.00,6255.00,587.75,3063.50,1185.75,1367.00
2024-07-14 20:00:00,4085.25,2681.25,5908.00,4639.25,1590.50,102.25,7204.25,627.50,3536.25,3615.50,1372.75
2024-07-14 21:00:00,4111.00,2803.25,5935.50,3716.00,100.75,103.00,7654.25,642.00,4068.50,4789.75,1374.00
2024-07-14 22:00:00,4037.25,2864.75,6005.50,4042.50,5.00,103.00,7839.00,704.50,4095.75,5227.25,1377.25
2024-07-14 23:00:00,3908.75,2774.50,6061.75,4689.00,2.75,103.00,7858.75,601.25,4105.00,2554.50,1380.00

### Modifying the data and interpolate to quarter-hourly representation

When finished with importing and all tests are successfull, the second part of this task is about modifying the imported data and interpolating to a more fine grained representation. For this do the following steps:

1. Insert a method `modify` to modify the data and a method `interpolate`. Write tests according the method used in part 1 of the task

1. Implement the `modify` method by filtering and modifying the photovoltaic generation data. All data which is smaller than 5% of the mean generation shall be set to 0.

1. Implement the `ìnterpolate` method to take a frequency (here 15 min) and extend the data table to the desired frequency. Use the appropriate methods implemented in pandas.

1. Call the methods from this notebook and print the SmardData class to the cell output.

In [4]:
import importlib
import applied_programming.khodke_s.smard as smard
_=importlib.reload(smard)
Generationdata = '../../3_Data/Realisierte_Erzeugung.csv'
data = smard.SmartData()
data.import_data(Generationdata)
data.modify()
data.interpolate()
data.data

,Biomasse,Wasserkraft,Wind_Offshore,Wind_Onshore,Photovoltaik,Sonstige_Erneuerbare,Braunkohle,Steinkohle,Erdgas,Pumpspeicher,Sonstige_Konventionelle
2024-07-01 00:00:00,3708.2500,2610.7500,1358.7500,4539.000,2.0000,103.500,9123.2500,1287.2500,3468.2500,569.7500,1028.7500
2024-07-01 00:15:00,3690.5625,2583.1875,1394.2500,4512.750,2.0000,103.625,9114.6250,1278.8125,3472.5625,482.9375,1029.0625
2024-07-01 00:30:00,3672.8750,2555.6250,1429.7500,4486.500,2.0000,103.750,9106.0000,1270.3750,3476.8750,396.1250,1029.3750
2024-07-01 00:45:00,3655.1875,2528.0625,1465.2500,4460.250,2.0000,103.875,9097.3750,1261.9375,3481.1875,309.3125,1029.6875
2024-07-01 01:00:00,3637.5000,2500.5000,1500.7500,4434.000,2.0000,104.000,9088.7500,1253.5000,3485.5000,222.5000,1030.0000
...,...,...,...,...,...,...,...,...,...,...,...
2024-07-14 22:45:00,3940.8750,2797.0625,6047.6875,4527.375,3.3125,103.000,7853.8125,627.0625,4102.6875,3222.6875,1379.3125
2024-07-14 23:00:00,3908.7500,2774.5000,6061.7500,4689.000,2.7500,103.000,7858.7500,601.2500,4105.0000,2554.5000,1380.0000
2024-07-14 23:15:00,3908.7500,2774.5000,6061.7500,4689.000,2.7500,103.000,7858.7500,601.2500,4105.0000,2554.5000,1380.0000
2024-07-14 23:30:00,3908.7500,2774.5000,6061.7500,4689.000,2.7500,103.000,7858.7500,601.2500,4105.0000,2554.5000,1380.0000
2024-07-14 23:45:00,3908.7500,2774.5000,6061.7500,4689.000,2.7500,103.000,7858.7500,601.2500,4105.0000,2554.5000,1380.0000